
@font-face {
    font-family: IconFont;
    src: url('/fonts/IconFont.ttf');
}

body{font-family: 'Montserrat', sans-serif;}

.header-promo{
    background-color: black;  color: #fff;  font-size: 12px;
    letter-spacing: 1px;  text-align: center;  padding: 10px 0;
    transition: padding .3s;  text-rendering: optimizeLegibility;  font-family: 'Montserrat', sans-serif;
}
.header-promo a {
    color: #fff;  text-decoration: underline;  font-weight: 600;  font-size: 13px;  text-align: center;
    transition: padding .3s;  text-rendering: optimizeLegibility;  letter-spacing: 1px;
}
.header-top-desktop{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-top-desktop img{
    height:50px;
    margin-top: 10px;
}
.header-top-desktop a{
    margin-right: 10px;
    text-decoration: none;
}

/* latin */
@font-face {
    font-family: 'Amita';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Amita Bold'), local('Amita-Bold'), url(https://fonts.gstatic.com/s/amita/v5/HhyXU5si9Om7PTHTLuCFMIs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.header-top-desktop p{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top:10px;
}
.header-top-desktop a {
    color: #3f74ad;
}
.header-top-mobile{
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:20px;
}

.menu-item{
    float:left; padding: 2px 25px 2px 25px; font-size: 16px;
    font-weight: 500;font-family: 'Montserrat', sans-serif
}

.menu-item a:hover{
    text-decoration: none; color:#3f74ad;  cursor: pointer;
}

.header-follow-us div {
    display: inline-block;
    font-family: IconFont;
    margin-right: 10px;
}
.header-follow-us div .instagram:before {
    content: "\E902";
    color:#3f74ad;
    margin-bottom: 7px;
}
.header-follow-us div .facebook:before {
    content: "\E900";
    color:#3f74ad;
    margin-bottom: 7px;
}
.header-follow-us div .instagram:before:hover {
    color:#000;
}
.header-follow-us div .facebook:before:hover {
    color:#000;
}
.header-follow-us div a {
    text-decoration: none;

}




.header-bars{
    display: none;
}




.header-mobile-logo{
    float: left;
    width: 80%;
}

.mobile-menu {
    display: none;
}
.mobile-menu-item {
    display: none;
}

.menu-item a {
    color:#000;
}

.header-mobile-logo p{
    margin-bottom: 0;
}
@media (max-width: 768px){
    .header-top-mobile{
        display: block;
    }

    .header-top-desktop{
        display: none;
    }
    .header-top-mobile img{
        height:50px;
        margin-top: 5px;
    }
    .header-top-mobile p{
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        margin-top:10px;
        margin-bottom:5px;
    }
    .header-top-mobile a {
        color:#3f74ad;
    }





    .header-bars{
        float: right;
        font-size: 32px;
        text-align: left;
        width: 10%;
        color: #3f74ad;
        display: block;
        margin-top: 10px;
    }

    .mobile-menu-item a {
        color:#3f74ad;
    }



    .mobile-menu{
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        padding: 50px 25px 25px 25px;
        z-index: 21474836480000 !important;
        background-color: white;
        color:white;
        top: 0;
        font-size: 15px;
        clear: both;
        font-weight: bold;
    }

    .mobile-menu-item{
        padding: 5px 17px;
        font-size: 15px;
        color: white;
        font-weight: bold;
        display: block;
    }
    .close-menu{
        font-size: 40px;
        margin-top: -30px;
    }
}

.header-menu-desktop-visible{display: block}
@media (max-width: 768px){
    .header-menu-desktop-visible{display: none}
    .menu{padding-bottom:0}

    .menu-item{display:none}

}

/*Header part styles*/