.tournament-table{
    margin-top: 20px;

}
.tournament-table table{
    font-family: Roboto,sans-serif;
    font-size: 14px;
}



.tournament-table .table thead {
    background-color: #a0a6ac;
    color:#f5f5f6;

    padding-left: 9px;
    padding-right: 9px;
    height: 20px;
}
.tournament-table .table thead th {
    padding-left: 8px;
    padding-right: 8px;

}


.tournament-table .table td, .table th{
    padding-bottom: 8px;
    padding-top: 7px;
    border: none;
    text-align: center;
}
.tournament-table tr {
    font-weight: 300;
}

.tournament-table tr:nth-child(even){
    background-color: #f3f3f6;
}

.tournament-table img {
    height: 20px;
    width: 20px;
}
.tournament-table th:nth-child(2) {
    text-align: left;
}
.tournament-table td:nth-child(2) {
    text-align: left;
}

.tournament-table th:nth-child(1) {
    margin-left: 10px;
}

.tournament-table td:nth-child(1) {
    margin-left: 10px;
}

.games .flex-container{
    display: flex;
    align-items:stretch ;
    justify-content: center;
    background-color: #e7e8ea;
    height: 60px;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    margin: 15px 0px 5px 0px;
    color: black;
    transition: 1s;

}

.games .flex-container button{
    visibility: hidden;

}

.games .flex-container:hover{

    background-color: #033660;
    color: white;
}

.games .flex-container:hover button{
    visibility: visible;
    display: inline-block;
    justify-content: center;
    font-size: 14px;
    color: white;
    background-color: #7abaff;
    transition: 0.2s;


}

.games .flex-container button:hover{
    color: white;
    background-color: #4dc0b5;
    font-size: 16px;
    border-radius: 10px;

}


.games .flex-container > div {

    margin: 1px;
    text-align: center;
    line-height: 50px;
    padding: 0 0 0 0;

}


.games .flex-container > div > img{
    height: 35px;
    width: 35px;
}


.participant-content {
    margin-top: 20px;
}
.participant-content-items{
    display: flex;
    flex-wrap:wrap;
}
.participant-content-item {
    font-size: 14px;
    font-family: Roboto,sans-serif;
    border: 2px solid blue ;
    border-radius: 20px;
    margin: 3px 3px 3px 3px;
    padding: 1px 10px 1px 10px;
    transition: 1s;
}

.participant-content-item:hover {
    border: 2px solid lightblue;
    position: sticky;
    background-color: #0c5460;
    color: #fff3cd;
}

.participant-content-item a {
    display: none;
    margin-left:10px;

}

.participant-content-item:hover a {
    display: inline-block;
}

.participant-content-input-edit {
    font-size: 14px;
    font-family: Roboto,sans-serif;
    border: 2px solid blue ;
    border-radius: 20px;
    margin: 3px 3px 3px 3px;
    padding: 1px 10px 1px 10px;
    background-color:#0c5460 ;
}

.participant-content-input-edit input,button{
    border: none;
    border-radius: 20px;

}

.participant-content-input-edit input:focus{
    outline: none;
}

.participant-content-input-edit button{
    border-radius: 20px;
}


.tournament-table2 .container {
    background-color: #f1f1f1;
}
.tournament_2{
    background-color: #f1f1f1;
}
.tournament-bracket{
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.round_name{
    align-self: flex-start;
    font-size: 0.95rem;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    margin-bottom: 0.5em;
    color:#9e9e9e ;
    width: 25%;
}
.tournament-bracket-item{
    border-right: 2px dotted darkgrey;
    height: 100%;
    right: 0;
    top: 0
}
.tournament-bracket .tournament-bracket-item {
    flex: 5;
}

.tournament-bracket-item .items{
    background-color: white;
    margin: 10px;
    height: 80px;
    width: 80%;
    border-radius: 10px 10px 10px 10px ;
    border: 1px solid #d6d8d9;
}


.tournament-bracket-item .items select{
    border: none;
    transition: 1s;
    color: #95999c;
}

.tournament-bracket-item .items select :hover{
    background-color: #d6d8d9;
    color: red;
}


/*.tournament-bracket-item:nth-child(4) .items{*/
    /*margin-top: 105px !important;*/
    /*margin-bottom: 105px !important;*/
/*}*/

/*.tournament-bracket-item:nth-child(6) .items{*/
    /*margin-top: 180px !important;*/
    /*margin-bottom: 180px !important;*/
/*}*/

/*.tournament-bracket-item:nth-child(8) .items{*/
    /*margin-top: 260px !important;*/
    /*margin-bottom: 260px !important;*/
/*}*/
/*.items > div{*/
    /*display: flex;*/
    /*flex-direction: column;*/
/*}*/

.part1  div {
    float: left;
    display: inline-block;
    width: auto;
}

.part1 {
    margin-bottom: 5px;
}

.part2 div {
    float: left;
    display: inline-block;
    /*position: relative;*/
    left: 0;
    right: 0;
    width: auto;
}

.part1 :nth-child(1) span {
    float: right;
    margin: 0; !important;
}

.part1 :nth-child(3) span  {
    float: left;
    margin: 0; !important;
}

.part2 :nth-child(1) select, .part2 :nth-child(1) p {
   float: right;
}

.part2 :nth-child(2) select, .part2 :nth-child(2) p  {
float: left;
}

.part2 select {
    font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
    border-radius: 10px 10px 10px 10px;


}

.items{
    text-align:  center;
    font-size: 12px;
    color: #95999c;
}

.items > div {
    padding-top: 6px;
}


.part1  span {
    background-color: #F5F5F5;
    border-color: #dddddd;
    width: 15px;
    color: black;
}

.part1 .winner {
    background-color: #FFF176;
    border-color: #fad674;
}


